.button {
  display: inline-block;
  padding: 1rem 1rem;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 0 0 0 transparent;

  &:hover {
    box-shadow: 0 0 0 2px var(--button-color);
  }

  &--primary {
    --button-color: var(--color-bg-primary-inverse);

    background-color: var(--color-bg-primary-inverse);
    color: var(--color-text-primary-inverse);
  }

  &--secondary {
    --button-color: var(--color-text-primary);

    background-color: transparent;
    color: var(--color-text-primary);
    border-color: var(--color-text-primary);
    backdrop-filter: blur(6px);
  }

  &--inverse {
    --button-color: var(--color-bg-primary);

    background-color: var(--color-bg-primary);
    color: var(--color-accent);
  }
}

.button-group {
  display: flex;
  gap: 0.5rem;
}
