.auto-grid {
  --grid-min-width: 20rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-min-width), 1fr));
  gap: max(2rem, 6vmin);
  align-items: start;
}

.auto-grid--sm {
  --grid-min-width: 16rem;
}

.auto-grid--lg {
  --grid-min-width: 25rem;
}

.stack {
  display: grid;
  gap: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.center {
  justify-content: center;
  align-items: center;
}

.max-width-sm {
  max-width: 30rem;
}

.max-width-md {
  max-width: 40rem;
}

.max-width-lg {
  max-width: 50rem;
}
