.page-layout {
  --main-padding: max(8vmin, 2rem);
  --text-padding: minmax(0, 20rem);

  overflow-x: hidden;
  display: grid;
  grid-template-columns:
    [full-start] 1fr
    [wrapper-start] var(--main-padding)
    [main-start] var(--text-padding)
    [text-start] min(calc(100% - var(--main-padding) * 2), 40rem)
    [text-end] var(--text-padding)
    [main-end] var(--main-padding)
    [wrapper-end] 1fr
    [full-end];
  justify-content: center;

  > * {
    grid-column: main;
  }

  > .page-layout-item-full {
    grid-column: full;
  }

  > .page-layout-item-text {
    grid-column: text;
  }
}

.section {
  display: grid;
  row-gap: 2rem;
  padding-block: max(6vmin, 2rem);

  &--lg {
    padding-block: max(10vmin, 4rem);
    row-gap: max(4vmin, 4rem);
  }

  &--xl {
    padding-block: max(12vmin, 8rem);
    row-gap: max(8vmin, 6rem);
  }
}

.auto-grid {
  --grid-min-width: 20rem;

  display: grid;
  gap: 2rem;
  align-items: start;

  @media screen and (min-width: 32rem) {
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-min-width), 1fr));
  }
}

.auto-grid--sm {
  --grid-min-width: 16rem;
}

.auto-grid--lg {
  --grid-min-width: 26rem;
}

.stack {
  display: grid;
  gap: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.center {
  justify-content: center;
  align-items: center;
}

.max-width-sm {
  max-width: 30rem;
}

.max-width-md {
  max-width: 40rem;
}

.max-width-lg {
  max-width: 50rem;
}

.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 2rem;
}
