.section {
  padding: max(10vh, 2rem) max(5vw, 1rem);

  main &:last-child {
    padding-bottom: max(25vh, 4rem);
  }

  &-content {
    max-width: 80rem;
    margin: auto;
    display: grid;
    gap: max(6vh, 2rem);
  }
}
