.reveal {
  @media (prefers-reduced-motion: no-preference) {
    opacity: 0;
    transform: translateY(1rem);
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;

    @for $i from 1 through 4 {
      &:nth-of-type(#{$i}) {
        transition-delay: 0.1s * $i;
      }
    }

    .entered & {
      opacity: 1;
      transform: translateY(0);
    }
  }
}