@mixin light-theme {
  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-700);

  --color-text-primary-inverse: var(--color-gray-0);
  --color-text-secondary-inverse: var(--color-gray-50);

  --color-bg-primary: var(--color-gray-0);
  --color-bg-secondary: var(--color-gray-50);
  --color-bg-tertiary: var(--color-gray-100);

  --color-bg-primary-inverse: var(--color-gray-800);
  --color-bg-secondary-inverse: var(--color-gray-900);
  --color-bg-tertiary-inverse: var(--color-gray-950);
}

@mixin dark-theme {
  --color-text-primary: var(--color-gray-0);
  --color-text-secondary: var(--color-gray-100);

  --color-text-primary-inverse: var(--color-gray-950);
  --color-text-secondary-inverse: var(--color-gray-900);

  --color-bg-primary: var(--color-gray-800);
  --color-bg-secondary: var(--color-gray-900);
  --color-bg-tertiary: var(--color-gray-950);

  --color-bg-primary-inverse: var(--color-gray-0);
  --color-bg-secondary-inverse: var(--color-gray-50);
  --color-bg-tertiary-inverse: var(--color-gray-100);
}

:root {
  --color-gray-950: #090b10;
  --color-gray-900: #0c1017;
  --color-gray-800: #1a212d;
  --color-gray-700: #2a3343;
  --color-gray-100: #ced6e4;
  --color-gray-50: #f0f4fa;
  --color-gray-0: #ffffff;
  --color-blue-400: #70A9FF;
  --color-blue-500: #438eff;
  --color-blue-600: #2674E9;

  --color-gray-950-rgb: 9, 11, 16;
  --color-gray-900-rgb: 12, 16, 23;
  --color-gray-800-rgb: 26, 33, 45;
  --color-gray-700-rgb: 42, 51, 67;
  --color-gray-100-rgb: 206, 214, 228;
  --color-gray-50-rgb: 240, 244, 250;
  --color-gray-0-rgb: 255, 255, 255;
  --color-blue-400-rgb: 67, 142, 255;
  --color-blue-500-rgb: 67, 142, 255;
  --color-blue-600-rgb: 67, 142, 255;

  --color-accent: var(--color-blue-500);
  --color-accent-light: var(--color-blue-400);
  --color-accent-dark: var(--color-blue-600);

  @include light-theme();

  @media (prefers-color-scheme: dark) {
    @include dark-theme();
  }
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

[data-theme='light'] {
  @include light-theme();
  color: var(--color-text-primary);
}

[data-theme='dark'] {
  @include dark-theme();
  color: var(--color-text-primary);
}

.color-accent {
  color: var(--color-accent);
}

.color-primary {
  color: var(--color-text-primary);
}

.color-secondary {
  color: var(--color-text-secondary);
}

.color-primary-inverse {
  color: var(--color-text-primary-inverse);
}

.color-secondary-inverse {
  color: var(--color-text-secondary-inverse);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-primary {
  background-color: var(--color-bg-primary);
}

.bg-secondary {
  background-color: var(--color-bg-secondary);
}

.bg-tertiary {
  background-color: var(--color-bg-tertiary);
}

.bg-primary-inverse {
  background-color: var(--color-bg-primary-inverse);
}

.bg-secondary-inverse {
  background-color: var(--color-bg-secondary-inverse);
}

.bg-tertiary-inverse {
  background-color: var(--color-bg-tertiary-inverse);
}