.auto-grid {
  --grid-min-width: 20rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-min-width), 1fr));
  gap: 2rem;
  align-items: start;
}

.auto-grid--sm {
  --grid-min-width: 12rem;
}

.stack {
  display: grid;
  gap: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}
